body {
    background-color:#344c9c;
    color:#b4b6d4;
}

section {
    background: #9494cc;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}





.color1 { #344c9c };
.color2 { #9494cc };
.color3 { #0b703e };
.color4 { #5b68a5 };
.color5 { #b4b6d4 };